@mixin fontSize {
  font-size: clamp(1rem, 1vw, 1.5rem);
}

#taskCategory {
  text-align: center;
  button {
    position: relative;
    margin: 17px 17px;
    padding: 10px;
    border: none;
    color: white;
    background: darkred;
    min-width: 150px;
    border-radius: 10px;
    @include fontSize();
    cursor: pointer;
  }
}

.Active {
  background: none !important;
  border: 2px solid darkred !important;
  color: darkred !important;
}

.badge {
  position: absolute;
  background: gray;
  top: -12px;
  right: -15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 30px;
  height: 30px;
}
